<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<h2> Delete Car </h2><br>
		
		<div th:each = "car : ${cars}">
			<form th:action="@{'/car/delete/id=' + ${car.id}}" th:object="${car}" method="POST">
				Brand: <br>
				<input type = "text" name = "brand" th:value="${car.brand}" disabled/>
				<br>
				Type: <br>
				<input type = "text" name = "type" th:value="${car.type}" disabled/>
				<br>
				<button type="submit"> Delete </button>
				<br><br>
			</form>
		</div>
	</body>
</html>